@font-face {
    font-family: 'Mt Bold';
    src:url('../fonts/montserrat/Montserrat-Bold.ttf')
}

@font-face {
    font-family: 'Mt Semi';
    src:url('../fonts/montserrat/Montserrat-SemiBold.ttf')
}

@font-face {
    font-family: 'Poppins';
    src:url('../fonts/poppins/Poppins-Regular.ttf')
}

@font-face {
    font-family: 'Poppins Medium';
    src:url('../fonts/poppins/Poppins-Medium.ttf')
}

:root{
    --primaryColor: #00c39a;
    --secondaryColor: #e1f7f3;
    --accentColor: #00d441;
}