@import './_variables.css';

*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}

/* custom css styles */
body{
    font-size: 18px;
    color: #606060;
    font-family: "Poppins";
    overflow-x:hidden;
}

.container{
    position:relative;
    width: 80%;
    margin: 0 auto;
}

section{
    position:relative;
    margin-bottom: 3rem;
}

.text-center{
    text-align:center !important;
}

.text-primary{
    color: var(--primaryColor) !important;
}

.d-block{
    display:block !important;
}

.btn{
    display: block;
    border:none;
    outline:none;
    padding: 7px 14px;
    border-radius: 8px;
    text-align:center;
    font-size: 18px;
    font-family: "Poppins Medium";
    box-shadow: 2px 2px 8px rgba(0, 0, 0 , .3);
    text-decoration: none;
}

.btn-primary{
    background-color: var(--primaryColor);
    color: #fafafa !important;
}

.btn-accent{
    background-color: var(--accentColor);
    color: #fafafa !important;
}

.card{
    position:relative;
    width:100%;
    box-shadow: 2px 2px 8px rgba(0, 0, 0 , .3);
    border-radius: 8px;
}

.card-body{
    position:relative;
    padding: 18px;
}
/* end custom css styles */

/* header styles */
header#header{
    width:100vw;
    height:100vh;
    position:relative;
    background-color: var(--secondaryColor);
}

header#header .container{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    display:grid;
    grid-template-columns: 50% 50%;
    grid-gap: 35px;
    justify-content: center;
    align-items:center;
}

/* left side */
header#header .container .left__side h1{
    font-size: 45px;
    font-family: "Mt Bold";
    text-shadow: 2px 2px 5px rgba(0 ,0, 0, .3);
    margin-bottom: 1rem;
    color: #454545
}

header#header .container .left__side h1 span{
    font-size: 45px;
}

header#header .container .left__side span{
    font-family: "Poppins Medium";
    font-size: 20px;
    margin-bottom: 2rem;
}

header#header .container .left__side a{
    max-width: 220px;
}
/* end left side */

/* right side */
header#header .container .right__side img.img-header{
    width:100%;
    height: 420px;
}
/* end right side */

/* end header styles */